@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Quicksand:wght@300;400;500&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}
.todo-container{
    width: 35%;
    height: 70vh;
    /* align-items: center; */
    margin: auto;
    margin-top: 15vh;
    position: relative;
    background-color: #ffffff; 
    border-radius: 26px; 
    box-shadow: 0px 35px 68px 0px #b698a080, inset 0px -9px 16px 0px #b698a099, inset 0px 11px 28px 0px #ffffff;
}

.todo-top-icon-container{
    position: absolute;
    width: 24%;
    height: 20%;
    background-color: #ffffff; 
    top: -40px;
    left: 40%;
    border-radius: 50px;
    box-shadow: inset 0px 35px 68px 0px #b698a080, 0px -7px 16px 0px #b698a099,  0px 11px 28px 0px #ffffff;

}

.todo-icon{
    margin-left: 10%;
    max-width: 80%;
    height: 80%;
    margin-top: 10%;
}

.input-form-container{
    margin-left: 10%;
    margin-right: auto;
    margin-top: 6.5rem;
    width: 80%;
    display: inline-flex;
    justify-content: center;
    height: 3.2rem;
}
.input-form-container input{
    width: 95%;
    text-align: center;
    height: 3rem;
    border: none;
    background: transparent;
    border-bottom: 3px solid #b698a0;
    outline: none;
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
}

.input-container{
    width: 85%;
}
.add-icon-container{
    width: 3.2rem;
    border-radius: 50px;
    text-align: center;
    padding-top: 8px;
    box-shadow:  9px 9px 18px #c1b3b9, -9px -9px 18px #e7d7dd;
    background-color: #ffffff; 
    box-shadow: 35px 35px 68px 0px #b698a080, 
    inset -8px -8px 16px 0px #b698a099, inset 0px 11px 28px 0px #ffffff;
}

.add-icon-container:hover{
    background-color: #b698a0;
    box-shadow: inset 35px 35px 68px 0px #b698a080, 
    inset 8px 8px -16px 0px #b698a099, inset 0px -11px -28px 0px #ffffff;
}
.fa-plus{
    font-size: 1.8rem;
}

.item-container{
    margin-left: 15%;
    margin-right: auto;
    margin-top: 2rem;
    width: 70%;
    height: 60%;
    overflow: scroll;
}

.each-item{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}


.check-mark{
    margin-top: 0.3rem;
    width: 10%;
    height: 1.2rem;
}
.check-icon{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50px;
    border: 1px solid #b698a0;
}
.check-icon:hover{
    border: 1px solid #6a1235;
    box-shadow: 35px 35px 68px 0px #b698a080, inset -7px -7px 16px 0px #b698a099, inset 0px 11px 28px 0px rgb(255, 255, 255);
}
.item-name{
    margin-left: 15px;
    width: 80%;
    overflow: scroll;
}

.icon-container{
    width: 20%;
    text-align: right;
}
.fa-trash-can, .fa-pen{
    margin-top: 0.2rem;
    font-size: 1.2rem;
    color: #b4afaf;
}
.fa-trash-can:hover{
    color: #b26565;
}

.fa-pen:hover{
    color :#809ea2
}

@media only screen and (max-width: 992px) {
    .todo-container{
        width: 90%;
        height: 80vh;
    }
}